
@font-face {
  font-family: "IcoMoon";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.svg#icomoon") format("svg"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype");
}
[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'IcoMoon';
  font-style: normal;
  font-weight: normal;
}
.icon-glass:before {
  content: "";
}
.icon-heart:before {
  content: "";
}
.icon-star:before {
  content: "";
}
.icon-star-empty:before {
  content: "";
}
.icon-th-large:before {
  content: "";
}
.icon-th:before {
  content: "";
}
.icon-th-list:before {
  content: "";
}
.icon-remove:before {
  content: "";
}
.icon-off:before {
  content: "";
}
.icon-trash:before {
  content: "";
}
.icon-home:before {
  content: "";
}
.icon-road:before {
  content: "";
}
.icon-volume-off:before {
  content: "";
}
.icon-volume-down:before {
  content: "";
}
.icon-volume-up:before {
  content: "";
}
.icon-qrcode:before {
  content: "";
}
.icon-tag:before {
  content: "";
}
.icon-tags:before {
  content: "";
}
.icon-font:before {
  content: "";
}
.icon-bold:before {
  content: "";
}
.icon-italic:before {
  content: "";
}
.icon-text-height:before {
  content: "";
}
.icon-text-width:before {
  content: "";
}
.icon-align-left:before {
  content: "";
}
.icon-align-center:before {
  content: "";
}
.icon-align-right:before {
  content: "";
}
.icon-align-justify:before {
  content: "";
}
.icon-indent-left:before {
  content: "";
}
.icon-indent-right:before {
  content: "";
}
.icon-adjust:before {
  content: "";
}
.icon-share:before {
  content: "";
}
.icon-check:before {
  content: "";
}
.icon-move:before {
  content: "";
}
.icon-step-backward:before {
  content: "";
}
.icon-fast-backward:before {
  content: "";
}
.icon-backward:before {
  content: "";
}
.icon-play:before {
  content: "";
}
.icon-pause:before {
  content: "";
}
.icon-stop:before {
  content: "";
}
.icon-forward:before {
  content: "";
}
.icon-fast-forward:before {
  content: "";
}
.icon-step-forward:before {
  content: "";
}
.icon-eject:before {
  content: "";
}
.icon-chevron-left:before {
  content: "";
}
.icon-chevron-right:before {
  content: "";
}
.icon-remove-circle:before {
  content: "";
}
.icon-ok-circle:before {
  content: "";
}
.icon-share-2:before {
  content: "";
}
.icon-resize-full:before {
  content: "";
}
.icon-resize-small:before {
  content: "";
}
.icon-plus:before {
  content: "";
}
.icon-minus:before {
  content: "";
}
.icon-asterisk:before {
  content: "";
}
.icon-eye-open:before {
  content: "";
}
.icon-eye-closed:before {
  content: "";
}
.icon-magnet:before {
  content: "";
}
.icon-chevron-up:before {
  content: "";
}
.icon-chevron-down:before {
  content: "";
}
.icon-resize-vertical:before {
  content: "";
}
.icon-resize-horizontal:before {
  content: "";
}
.icon-thumbs-up:before {
  content: "";
}
.icon-thumbs-down:before {
  content: "";
}
.icon-hand-right:before {
  content: "";
}
.icon-hand-left:before {
  content: "";
}
.icon-hand-up:before {
  content: "";
}
.icon-hand-down:before {
  content: "";
}
.icon-bullhorn:before {
  content: "";
}
.icon-certificate:before {
  content: "";
}
.icon-circle-arrow-right:before {
  content: "";
}
.icon-circle-arrow-left:before {
  content: "";
}
.icon-circle-arrow-up:before {
  content: "";
}
.icon-circle-arrow-down:before {
  content: "";
}
.icon-tasks:before {
  content: "";
}
.icon-film:before {
  content: "";
}
.icon-ok:before {
  content: "";
}
.icon-book:before {
  content: "";
}
.icon-caret-down:before {
  content: "";
}
.icon-caret-up:before {
  content: "";
}
.icon-caret-left:before {
  content: "";
}
.icon-caret-right:before {
  content: "";
}
.icon-sort:before {
  content: "";
}
.icon-sort-up:before {
  content: "";
}
.icon-sort-down:before {
  content: "";
}
.icon-magic:before {
  content: "";
}
.icon-cogs:before {
  content: "";
}
.icon-pie-chart:before {
  content: "";
}
.icon-support:before {
  content: "";
}
.icon-hour-glass:before {
  content: "";
}
.icon-key-2:before {
  content: "";
}
.icon-keyboard:before {
  content: "";
}
.icon-light-bulb:before {
  content: "";
}
.icon-link:before {
  content: "";
}
.icon-unlink:before {
  content: "";
}
.icon-microphone:before {
  content: "";
}
.icon-mouse:before {
  content: "";
}
.icon-tablet:before {
  content: "";
}
.icon-mobile-phone:before {
  content: "";
}
.icon-phone:before {
  content: "";
}
.icon-pacman:before {
  content: "";
}
.icon-paper-airplane:before {
  content: "";
}
.icon-attachment:before {
  content: "";
}
.icon-record:before {
  content: "";
}
.icon-file-zip:before {
  content: "";
}
.icon-power:before {
  content: "";
}
.icon-radio:before {
  content: "";
}
.icon-cloud:before {
  content: "";
}
.icon-rainy:before {
  content: "";
}
.icon-lightning:before {
  content: "";
}
.icon-rainy-2:before {
  content: "";
}
.icon-cloudy:before {
  content: "";
}
.icon-cloud-2:before {
  content: "";
}
.icon-windy:before {
  content: "";
}
.icon-windy-2:before {
  content: "";
}
.icon-snowy:before {
  content: "";
}
.icon-snowy-2:before {
  content: "";
}
.icon-weather:before {
  content: "";
}
.icon-cloudy-2:before {
  content: "";
}
.icon-lightning-2:before {
  content: "";
}
.icon-sun:before {
  content: "";
}
.icon-moon:before {
  content: "";
}
.icon-snowflake:before {
  content: "";
}
.icon-sun-2:before {
  content: "";
}
.icon-rss:before {
  content: "";
}
.icon-rss-2:before {
  content: "";
}
.icon-safari:before {
  content: "";
}
.icon-scissor:before {
  content: "";
}
.icon-settings:before {
  content: "";
}
.icon-television:before {
  content: "";
}
.icon-tools:before {
  content: "";
}
.icon-tree:before {
  content: "";
}
.icon-truck:before {
  content: "";
}
.icon-gift:before {
  content: "";
}
.icon-umbrella:before {
  content: "";
}
.icon-spades:before {
  content: "";
}
.icon-clubs:before {
  content: "";
}
.icon-diamonds:before {
  content: "";
}
.icon-atom:before {
  content: "";
}
.icon-planet:before {
  content: "";
}
.icon-yinyang:before {
  content: "";
}
.icon-pie-chart-3:before {
  content: "";
}
.icon-pie-chart-2:before {
  content: "";
}
.icon-newspaper:before {
  content: "";
}
.icon-database:before {
  content: "";
}
.icon-gauge:before {
  content: "";
}
.icon-accessibility:before {
  content: "";
}
.icon-apple:before {
  content: "";
}
.icon-android:before {
  content: "";
}
.icon-windows:before {
  content: "";
}
.icon-file-xml:before {
  content: "";
}
.icon-file-css:before {
  content: "";
}
.icon-html5:before {
  content: "";
}
.icon-cyclop:before {
  content: "";
}
.icon-bended-arrow-up:before {
  content: "";
}
.icon-bended-arrow-down:before {
  content: "";
}
.icon-key:before {
  content: "";
}
.icon-pushpin:before {
  content: "";
}
.icon-table:before {
  content: "";
}
.icon-legal:before {
  content: "";
}
.icon-stats-up:before {
  content: "";
}
.icon-google-circles:before {
  content: "";
}
.icon-sound:before {
  content: "";
}
.icon-mute:before {
  content: "";
}
.icon-lemon:before {
  content: "";
}
.icon-dribbble:before {
  content: "";
}
.icon-graph:before {
  content: "";
}
.icon-sign-post:before {
  content: "";
}
.icon-add-contact:before {
  content: "";
}
.icon-chemical:before {
  content: "";
}
.icon-network:before {
  content: "";
}
.icon-calendar-month:before {
  content: "";
}
.icon-progress-bar:before {
  content: "";
}
.icon-download:before {
  content: "";
}
.icon-download-2:before {
  content: "";
}
.icon-upload:before {
  content: "";
}
.icon-upload-2:before {
  content: "";
}
.icon-briefcase:before {
  content: "";
}
.icon-user:before {
  content: "";
}
.icon-users:before {
  content: "";
}
.icon-twitter:before {
  content: "";
}
.icon-exclamation-sign:before {
  content: "";
}
.icon-music:before {
  content: "";
}
.icon-search:before {
  content: "";
}
.icon-film-camera:before {
  content: "";
}
.icon-zoom-out:before {
  content: "";
}
.icon-zoom-in:before {
  content: "";
}
.icon-broadcast:before {
  content: "";
}
.icon-cog:before {
  content: "";
}
.icon-cog-2:before {
  content: "";
}
.icon-home-2:before {
  content: "";
}
.icon-file-pdf:before {
  content: "";
}
.icon-file-openoffice:before {
  content: "";
}
.icon-file-word:before {
  content: "";
}
.icon-file-excel:before {
  content: "";
}
.icon-file-powerpoint:before {
  content: "";
}
.icon-file:before {
  content: "";
}
.icon-time:before {
  content: "";
}
.icon-inbox:before {
  content: "";
}
.icon-play-circle:before {
  content: "";
}
.icon-repeat:before {
  content: "";
}
.icon-refresh:before {
  content: "";
}
.icon-list-2:before {
  content: "";
}
.icon-lock:before {
  content: "";
}
.icon-unlock:before {
  content: "";
}
.icon-flag:before {
  content: "";
}
.icon-headphones:before {
  content: "";
}
.icon-bookmark:before {
  content: "";
}
.icon-print:before {
  content: "";
}
.icon-camera:before {
  content: "";
}
.icon-list:before {
  content: "";
}
.icon-facetime-video:before {
  content: "";
}
.icon-picture:before {
  content: "";
}
.icon-pictures:before {
  content: "";
}
.icon-pencil:before {
  content: "";
}
.icon-tint:before {
  content: "";
}
.icon-plus-sign:before {
  content: "";
}
.icon-minus-sign:before {
  content: "";
}
.icon-remove-sign:before {
  content: "";
}
.icon-ok-sign:before {
  content: "";
}
.icon-question-sign:before {
  content: "";
}
.icon-info-sign:before {
  content: "";
}
.icon-screenshot:before {
  content: "";
}
.icon-arrow-right:before {
  content: "";
}
.icon-arrow-left:before {
  content: "";
}
.icon-arrow-up:before {
  content: "";
}
.icon-arrow-down:before {
  content: "";
}
.icon-leaf:before {
  content: "";
}
.icon-fire:before {
  content: "";
}
.icon-plane:before {
  content: "";
}
.icon-random:before {
  content: "";
}
.icon-comments:before {
  content: "";
}
.icon-comment:before {
  content: "";
}
.icon-retweet:before {
  content: "";
}
.icon-folder-closed:before {
  content: "";
}
.icon-folder-close:before {
  content: "";
}
.icon-hdd:before {
  content: "";
}
.icon-bell:before {
  content: "";
}
.icon-globe:before {
  content: "";
}
.icon-wrench:before {
  content: "";
}
.icon-filter:before {
  content: "";
}
.icon-shopping-cart:before {
  content: "";
}
.icon-cd:before {
  content: "";
}
.icon-signal:before {
  content: "";
}
.icon-cog-3:before {
  content: "";
}
.icon-fullscreen:before {
  content: "";
}
.icon-ban-circle:before {
  content: "";
}
.icon-trophy:before {
  content: "";
}
.icon-stats:before {
  content: "";
}
.icon-t-shirt:before {
  content: "";
}
.icon-steering-wheel:before {
  content: "";
}
.icon-bended-arrow-left:before {
  content: "";
}
.icon-bended-arrow-right:before {
  content: "";
}
.icon-compass:before {
  content: "";
}
.icon-facebook:before {
  content: "";
}
.icon-bars:before {
  content: "";
}
.icon-loading:before {
  content: "";
}
.icon-food:before {
  content: "";
}
.icon-bag:before {
  content: "";
}
.icon-warning-sign:before {
  content: "";
}
.icon-history:before {
  content: "";
}
.icon-install:before {
  content: "";
}
.icon-archive:before {
  content: "";
}
.icon-battery:before {
  content: "";
}
.icon-publish:before {
  content: "";
}
.icon-feather:before {
  content: "";
}
.icon-calendar:before {
  content: "";
}
.icon-moon-2:before {
  content: "";
}
.icon-comment-2:before {
  content: "";
}
.icon-comments-2:before {
  content: "";
}
.icon-business-card:before {
  content: "";
}
.icon-flashlight:before {
  content: "";
}
.icon-monitor:before {
  content: "";
}
.icon-coffee:before {
  content: "";
}
.icon-frame:before {
  content: "";
}
.icon-boat:before {
  content: "";
}
.icon-drops:before {
  content: "";
}
.icon-mug:before {
  content: "";
}
.icon-reply:before {
  content: "";
}
.icon-official:before {
  content: "";
}
.icon-envelope:before {
  content: "";
}
.icon-map-marker:before {
  content: "";
}
.icon-edit:before {
  content: "";
}
.icon-barcode:before {
  content: "";
}
