<div>
<h1>Wellcome to my site</h1>
<p>My name is Maoz Yizhack</p>
<p>I  have a B.Sc  degree in electrical and electronic engineering. I love programming </p>
<p>My hovise are: </p>
<ul>
    <li>programing web site</li>
    <li>hacking and security</li>
</ul>
</div>
<div>
     <%= render(:partial => 'layouts/navigation', :locals => {:subjects => @subjects}) %>
</div>
