<% subjects ||= [] %>
<% subjects.each do |subject| %>
    <h4><%= subject.name %></h4>
    <ul class="nav campaign_nav">
      <% subject.pages.visible.sorted.each do |page| %>
<li data-screen="<%=page.name%>"  class="side-nav-option">
   <%= link_to( :action => 'show' , :permalink => page.permalink , :data => { :scope => page.name }) do %>
    <i class="icon-globe"></i>
    <span><%= page.name %></span>
    <% end %>
  </li>
    <% end %>
    </ul>
  <% end %>

